body {
  font: 20px Arial, sans-serif;
}

.navbar {
  background-color: #8ad670;
}

.quem-somos {
  background-color: #8181f7;
  color: white;
}

.margin {
  padding-bottom: 30px;
  padding-top: 10px;
}

.parceiros {
  background-color: #58fafa;
  color: gray;
}

.bg-footer {
  background-color: black;
  color: white;
}

p {
  padding-top: 20px;
}
